.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav {
    float:right;
    color:#f2f2f2;
    text-align: center;
    padding:20px 30px;
    text-decoration:none;
    font-size:17px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-style: inherit;
    animation: backwards;
}

.topnav a:hover{
    background-color: #8a9f93;
    color: #0fefac;
    animation-play-state: running;
}

.topnav a.active {
    background-color: #907b1e;
    color: white;
}
